.tooltip {
  padding: 0.5rem;
  background: #333;
  color: white;
  max-width: 300px;
}

.tooltip.top {
  margin-bottom: 0.5rem;
}

.tooltip.bottom {
  margin-top: 0.5rem;
}

.tooltip.left {
  margin-right: 0.5rem;
}

.tooltip.right {
  margin-left: 0.5rem;
}

.tooltip-arrow-container {
  margin-top: 0;
}

.tooltip-arrow {
  border-width: 0.5rem;
  border-style: solid;
}

.tooltip-arrow.top {
  border-color: #333 transparent transparent transparent;
  transform: translateY(0.42rem);
}

.tooltip-arrow.bottom {
  border-color: transparent transparent #333 transparent;
  transform: translateY(-0.42rem);
}

.tooltip-arrow.left {
  border-color: transparent transparent transparent #333;
  transform: translateX(0.42rem);
}

.tooltip-arrow.right {
  border-color: transparent #333 transparent transparent;
  transform: translateX(-0.42rem);
}